<p>view-posts works!</p>
<!-- <button (click)="loadData()">Load Data</button> -->

<p>{{posts | json}}</p>
<ul>
    <li *ngFor="let post of posts">{{post.title}}</li>
</ul>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Search Title</span>
  <input #searchtext (keyup)="0" type="search" class="form-control" placeholder="Search Title" aria-label="Username" aria-describedby="basic-addon1">
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let post of posts | search: searchtext.value; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{post.title}}</td>
        <td>{{post.author}}</td>
        <td><button (click)="deletePost(post.id + '')" class="btn btn-danger"> X </button></td>
      </tr>
    
    </tbody>
  </table>
