<!-- <a href="/home">Home</a> | <a href="/about">About Us</a> -->
<!-- <ngbd-toast-global></ngbd-toast-global> -->
<nav class="nav">
    <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    <a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
    <a class="nav-link" routerLink="/view-post" routerLinkActive="active" ariaCurrentWhenActive="page">View Post</a>
    <a class="nav-link" routerLink="/add-post" routerLinkActive="active" ariaCurrentWhenActive="page">Add Post</a>
</nav>
<router-outlet></router-outlet>